*{
    
    font-family: 'Sarabun', sans-serif;
}

a{
    text-decoration: none;
}

h1{
    font-weight: 800;
    font-size: 40px;
    color: #1F2421;
    text-align: center;
    padding: 30px;
}

h2{
    font-weight: 700;
    font-size: 35px;
    letter-spacing: 5px;
    color: white;
    text-align: center;
}

h4{
    font-weight: 500;
    font-size: 22px;
    letter-spacing: 2px;
    color: white;
    text-align: center;
}

.item-price {
    font-size: 18px;
    color: #216869;
    text-align: left;
    letter-spacing: 0px;
}

.item-type {
    font-size: 18px;
    color: #1F2421;
    text-align: left;
    letter-spacing: 0px;
}

h6{
    font-weight: 500;
    font-size: 18px;
    color: #1F2421;
    padding: 5px;
}

p{
    font-weight: 400;
    color: #1F2421;
    padding: 0px 5px;
}

nav{
    background-color: white;
    
}

li a{
    font-weight: 500;
    font-size: 20px;
    color: #216869;
    
}

li a:hover, #logo:hover{
    color: #49A078;
    text-decoration: none;
}

#logo{
    font-weight: 800;
    font-size: 40px;
    color: #216869;
}


ul {
    list-style-type: none;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
  }

.principal{
    background-color: #DCE1DE;
}

#heading{
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8)), url(img/encabezado.jpg);
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 50vh;
    padding: 0 10%;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0px;
}

.botton{
    background-color: white;
    display: block;
    cursor: pointer;
    padding: 10px 40px;
    border: none;
}

.botton a{
    color: #216869;
    font-weight: 600;
    font-size: 18px;
}

.botton a:hover{
    color: #49A078;
    text-decoration: none;
}


#blogContainer{
    padding: 20px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.blog img{
    height: 300px;
    width: auto;
    box-shadow: 0px 0px 23px -5px rgba(0,0,0,0.3);
}

.blog h6{
    font-weight: 600;
    text-align: center;
    padding: 10px;
}


/* footer */
footer{
background-color: white;
padding: 20px;
display: flex;
flex-wrap: wrap;
gap: 20px;
justify-content: space-evenly;
align-items: center;
}

#footerShop{
    background-color: #DCE1DE;
}

footer p{
    color: #216869;
    font-size: 14px;
}

#quote{
    font-size: 14px;
}

#quoteAuthor{
    font-weight: 600;
    margin-top: 5px;
}

.fab{
    color: #216869;
    margin: 5px 20px;
}

/* tienda.html */
.btn-primary{
    background-color: #DCE1DE;
    color: #216869;
    border-radius: 0px;
    border: none;
}

.btn-primary:hover, .btn-primary:focus{
    background: #216869;
    color: #DCE1DE;
}


.item {
    border: none;
    padding: 10px;
    border-radius: 0px;
    background-color: white;
    width: fit-content;
    margin: 0em auto;
  }
  
  .item-title {
    font-size: 1.2em;
    font-weight: 600;
  }
  
  .item-image {
    height: auto;
    width: 350px;
  }
  
  .item-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0px 4px;
  }
  
  
  /* carrito */
  .shopping-cart-items {
    padding: 20px 0px;
  }
  
  .shopping-cart-header {
    border-bottom: 1px solid #DCE1DE;
  }
  
  .shopping-cart-image {
    max-width: 80px;
    border-radius: 0px;
    border: 1px solid #DCE1DE;
  }
  
  .shopping-cart-quantity-input {
    max-width: 45px;
    border: 1px solid #DCE1DE;
    background: white;
    padding: 5px;
  }
  
  .shopping-cart-total {
    min-height: 96px;
  }
  
  .btn-success{
      background-color: #216869;
      border-radius: 0px;
      border: none;
  }

  .btn-danger{
    background-color: #1F2421;
    border-radius: 0px;
    border: none;
}
  .btn-success:hover, .btn-success:focus{
    background-color: #49A078;
}

.row{
    justify-content: center;
}